.vscode/
.DS_Store/
.deps/
/nbproject/*
*.log
*.o
*.so
*.gz
*.a
*.la
*.lo
/invaders/invaders
/invaders/src/invaders_glade.h
/invaders/rom/*
!/invaders/rom/Makefile
emu-machine/wav/*.h
__pycache__
.venv